/* Тёмный цвет фона */
body {
    background-color: #1a1a1a;
    color: #ffffff; /* Белый цвет текста */
}

/* Стиль для текста при наведении */
.move-on-hover {
    color: #ffffff;
    font-size: 28px;
    font-family: 'YourBeautifulFont', sans-serif;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
}

.move-on-hover:hover {
    transform: translateX(20px);
    color: #55a7ff;
}

.card {
    background-color: #242428;
    color: white;
}

.card-title {
    color: white;
}

.card img{
    width: 50%;
}

